body{
    font-family: Trebuchet MS;
    background-color: #000000;
    background-image: linear-gradient(315deg, #000000 0%, #7f8c8d 74%);
    color: white;

}
.highlight-color{
    color:#feee6e;
}
h2{
    text-transform: capitalize;
    text-decoration: underline;
}
h3{
    text-decoration: underline;
    margin-top: 0px;
    text-transform:capitalize;
}
strong{
    text-transform: uppercase;
}
img{
    height: 254px;
    margin-top: 30px;
}
header{
    display: flex;
    justify-content: center;
}
article{
    display: flex;
    align-items: baseline;
}
section{
    margin: 20px;
}
fieldset{
    border: 5px solid white;
    border-radius: 35px;
}
.context{
    padding: 10px;
}
.grid-form{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: baseline;
    padding: 10px;
}
label{
    padding: 10px;
    width: 100px;
}
input{
    padding: 10px;
    border-radius: 5px;;
    margin: 10px;
    border: none;
    width: 50%;
}
input[type=checkbox], input[type=radio]{
    cursor: pointer;
}
.form-label{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.radio-btn{
    width: 8%;
    margin: 0px;
    
}
.title-lbl{
    padding: 0px;
    width: 50px;
}
legend{
    font-size: 20px;
    text-align: center;
    text-transform: capitalize;
}
button{
    margin-left: auto;
    margin-right: auto;
    width: 15%;
    padding: 10px;
    border-radius: 10px;
    border: none;
    text-transform: uppercase;
    background: #feee6e;
    display: flex;
    justify-content: center;
}
button:hover{
    background: black;
    color: white;
    cursor: pointer;
}

@media screen and (max-width: 480px) {
   article{
    display: block;
   }
   form{
    display: block;
   }
   img{
    height: 200px;
   }
}